@include mq(small) {
    .is-displayed-mobile {
        display: block; 
    }
    .is-hidden-mobile {
      display: none; 
    }

    .is-collapsed-mobile {
        visibility: collapse;
        padding: 0;
        height: 0;
        margin: 0;
        line-height: 0; 
    } 
}
@include mq(medium) {
  .is-displayed-mobile {
    display: none; 
  } 
}
