<div class="overlay overlay-slidedown">
    <button type="button" class="overlay-close">Close</button> 
    <nav>

        <!-- TODO: let navigation slide in from the top -->
        <ul>
            <li class="nav__item"><a href="#">Dagmenu</a></li>
    <!--        <li class="nav__item"><a href="#">Suggesties</a></li>-->
            <li class="nav__item"><a href="#">A la carte</a></li>
            <li class="nav__item"><a href="#">Feesten &amp; Partijen</a></li>
            <li class="nav__item"><a href="#">Contact</a></li>
        </ul>
    </nav>

    <section class="opn-hrs">
        <h1>Openingsuren &amp; Contact</h1>
        {% include "openinghours" %}
    </section>
</div>