<div class="overlay overlay-slidedown">
    <nav class="navbar">

        <!-- TODO: let navigation slide in from the top -->
        <ul class="nav">
            <li class="nav__item"><a href="#">Dagmenu</a></li>
    <!--        <li class="nav__item"><a href="#">Suggesties</a></li>-->
            <li class="nav__item"><a href="#">A la carte</a></li>
            <li class="nav__item"><a href="#">Feesten &amp; Partijen</a></li>
            <li class="nav__item"><a href="#">Contact</a></li>
        </ul>
    </nav>

    <section class="opn-hrs is-displayed-mobile">
        {% include "openinghours" %}
    </section>
</div>