<section itemprop="dayPlate" class="panel--dayplate">
    <h1>Dagmenu</h1>

    <article>
        <h2>Dagsoep</h2>
        <p>Wortelsoep</p>
    </article>

    <article>
        <h2>Dagschotel</h2>
        <p>Witlof uit de oven met ham &amp; kaas</p>
    </article>
</section>
