<section class="events">
    <div class="panel--overlay">
        <h1>Reserveer onze vide!</h1>
        <p>Wanneer u met een groep een besloten bijeenkomst wilt organiseren, ontvangen wij u met plezier op onze vide. Onze koks en het zaalpersoneel staan voor u klaar om indien u wilt een aangepast menu te serveren in een aangename sfeer.</p>
        <p>Om te reserveren of voor meer informatie, gelieve ons te contacteren per telefoon of email.</p>
    </div>
</section>