{% layout "bistro" %}
{% block title %}Bistro 4{% endblock %}
{% block content %}
	 <header class="hero-container panel">
            <a href="#" class="logo">
                <h1>Bistro 4</h1>
                <h2>eetcafé</h2>
            </a>

            <!-- MAIN NAV --> 
            <span id="trigger-overlay" class="icn--toggle is-displayed-mobile ">
                    <b class="srt">filter</b>
            </span>
    
            {% include "bistro-nav" %}

            
            <!-- DAGMENU -->
            {% include "dayplate" %}

            
        </header>

        <section itemprop="menu" class="la-carte">
            <!-- BREAKFAST -->
            {% include "breakfast" %}
            
            <!-- LUNCH -->
            {% include "lunch" %}
            
            <!-- DINNER -->
            {% include "dinner" %}
        </section>

        {% include "events" %}
{% endblock %}