{% layout "bistro" %}
{% block title %}Bistro 4{% endblock %}
{% block content %}
	 <header class="hero-container panel">
            <a href="#" class="logo">
                <h1>Bistro 4</h1>
                <h2>eetcafé</h2>
            </a>

            <!-- MAIN NAV  --> 
            <a  id="trigger-overlay" class="icn x is-displayed-mobile ">
                    <div class="icn--toggle"></div>
            </a>
            <a class="navicon-button x">
              <div class="navicon"></div>
            </a>
            {% include "bistro-nav" %}

            
            <!-- DAGMENU -->
            {% include "dayplate" %}

            
        </header>

        
        {% include "tabs" %}
        <section itemprop="menu" class="la-carte tabs-content">
            
            <!-- BREAKFAST -->
            {% include "breakfast" %}
            
            <!-- LUNCH -->
            {% include "lunch" %}
            
            <!-- DINNER -->
            {% include "dinner" %}
        </section>

        {% include "events" %}
{% endblock %}